.cars {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1.5rem;
}

@media screen and (min-width: 1700px) {
	.cars {
		grid-template-columns: repeat(4, 1fr);
	}
}


@media screen and (max-width: 1250px) {
	.cars {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 850px) {
	.cars {
		grid-template-columns: 20.2rem;
	}
}

